
@media screen and (max-width: 768px) {
    /* Estilos para telas com largura máxima de 768px */
  }
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Estilos para telas com largura mínima de 768px e largura máxima de 1024px */
  }
  
  @media screen and (min-width: 1024px) {
    /* Estilos para telas com largura mínima de 1024px */
  }
  

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');/*isso é para importar uma fonte do google*/

  
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');



nav{
text-align: right;          /*isso faz com que o texto va totalmente para a direita*/


}

.h1ep{
margin-left: 40px;

}


.clrh{
font-family: 'montserrat';/*nome da fonte importada*/
margin-left: 30px;/*cria uma margin na esquerda da class*/

}


nav a{
margin-right: 40px;    /*cria uma margin na direita do link*/
text-decoration: none;  /*remove a decoraçao do texto*/
color: white;    /*muda a cor do item*/
position: relative;  /*faz com que eu possa mudar a posiçao a vontade*/
top: -20px;     /*faz com que o texto va para cima*/
}

nav a:hover{             /*aplica estilos quando o mouse passa por cima*/
outline: 2px solid rgba(128, 0, 128, 0.589) ;
padding: 10px;            /*cria um a especie de caixa em volta do item*/
}

nav >button {
    background-color: #7e0c9b; /*muda a cor de fundo */
    border: none;   /*tira a borda */
    color: white;  /*muda a cor */
    padding: 10px;  /*cria um espaço entre o elemento*/
    font-size: 16px; /*muda o tamanho do elemento*/
    border-radius: 5px;  /*deixa a borda arredondade*/
    cursor: pointer;   /*prorpiedade que mude o cursor do mouse*/
    width: 90px;    /*muda a largura do item*/
    font-family: 'montserrat'; /*muda a fonte*/
    position: relative;    /*deixa a posiçao relativa*/
    top: -20px; /*coloca o item para cima*/
    left:-20px ; /*coloca o item para a direita*/
  }
  
.loginss:hover{
background-color: #663399;/*muda a cor do item*/
animation-duration: 1s; /*cria uma animaçao quando o item é ativo*/
position: relative; /*posiçao relativa*/


}

header {
margin: 110px 0px 30px 80px;/*muda a margin de cima baixo esquerda e direita*/
font-size: x-large;/*deixa a fonte larga*/
}





body{
  background: linear-gradient(to bottom, #000000, #663399);
  color: white;
font-family: 'montserrat';
padding: 0;
margin: 0;


}

aside > img{
    border-radius: 0px 70px 0px 70px;
   
    position: relative;
    right: -790px;
    top: -560px;
    height: 690px;
    width: 700px ;
    box-shadow: 7px 7px 7px black;
   
}

.metacritic{
        font-family: 'montserrat';
        background-color: #552348; 
        border: none; 
        color: white; 
        padding: 15px 32px; 
        text-align: center; 
        text-decoration: none; 
        display: inline-block; 
        font-size: 16px; 
        margin: 4px 2px; 
        cursor: pointer; 
        border-radius: 8px; 
}

.metacritic:hover{

background-color: #663399;
}

footer{

    box-shadow: 0px -1px 2px black;
    background: linear-gradient(to bottom, #4B0082, #000000);
    color: #FFFFFF;
    text-align: center;
    height: 600px;
    
}

footer h2{
 text-align: center;
top:25px;
position: relative;
font-size: 2em;
font-family: 'Abril Fatface', cursive;

}

.oito{
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 30%;
    position: relative;
    left: -170px;
    height: 30px;
}





.rodape{
position:relative ;
bottom: -140px;
text-align: left;

}

.contato{
    position: relative;
    text-align: right;
   padding-right: 80px;
   top: -10px;
   left: -20px;
}

.creditos{
text-align: center;
top: -57px;
position: relative;
}

.ajuda{
top: -88px;
position: relative;
margin:0px 130px ;
}


.inputzinho{
background-color:rgba(0, 0, 0, 0.637);
padding: 60px;
bottom: -30px;
position: relative;
margin-top: 50px;
}

.chatgpt{
  left:-778px ;
   position:relative;
   bottom: -60px;
}
.luiz{
position: relative;
bottom: -25px;
}

.botanzinho{
position: relative;
right: -250px;
top: -75px;
background-color: #FFFFFF;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  width: 10%;
  font-family: Arial, Helvetica, sans-serif;
}

.botanzinho:hover{
    background-color: #0000001f;
    color: #FFFFFF;
}

.eldenring {
position: relative;
top: -300px;
width: 500px;
box-shadow: 1px 1px 1px 1px black;
border-radius: 20px 0px 20px 0px ;
}

aside > h2{
text-align: center;
top: -470px;
position: relative;
}

.thewitcher{
width: 500px;
right: -590px;
position: relative;
top: -815px;
box-shadow: 1px 1px 1px 1px black;
border-radius:20px 0px 20px 0px ;
}

.god{
width: 500px;
position: relative;
right: -1190px;
top: -1370px;
height: 500px;
border-radius: 20px 0px 20px 0px;
box-shadow: 1px 1px 1px 1px black;
}





.botom1{
top: -360px;
position: relative;
left: -490px;
width: 470px;
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
width: 470px;
font-family: Arial, Helvetica, sans-serif;
height: 50px;
background-color: rgba(255, 255, 255, 0.774);
}

.Witcher{
    position: relative; 
    right: -605px;
    background-color: rgba(255, 255, 255, 0.788);
    top: -914px;
    width: 470px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 470px;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
}

.war{
position: relative;
right: -1207px;
top: -1470px;

padding: 10px 20px;
font-size: 16px;
cursor: pointer;
width: 470px;
font-family: Arial, Helvetica, sans-serif;
height: 50px;
background-color: rgba(255, 255, 255, 0.788)
}

#top3{
position: relative;
left: -70px;
font-family: 'Aboreto';
font-size: 2em;
top: -400px;
}

  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

  #bestgames{
   position: relative;
   top: -400px; 
   text-align: center;
   left: -3%;
   
 
  }


  @import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
















